html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montreal-book;
  src: url(/assets/PPNeueMontreal-Book.195009d6.woff2) format("woff2"), url(/assets/PPNeueMontreal-Book.c5159d92.woff) format("woff"), url(/assets/PPNeueMontreal-Book.925ad9c6.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Montreal-medium;
  src: url(/assets/PPNeueMontreal-Medium.54b454c4.woff2) format("woff2"), url(/assets/PPNeueMontreal-Medium.19804e9e.woff) format("woff"), url(/assets/PPNeueMontreal-Medium.ca6dd238.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Playfair Display;
  src: url(/assets/playfair_italic.927ece91.woff2) format("woff2"), url(/assets/playfair_italic.2741c716.woff) format("woff");
  font-display: swap;
}
html {
  font-size: 0.5208333333vw;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 2.6666666667vw;
  }
}
* {
  -webkit-font-smoothing: antialiased;
}

#app .l__content {
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  #app .l__content {
    height: unset;
  }
}
.l__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0b0b0b;
  overflow-x: hidden !important;
  will-change: transform;
}

@media only screen and (max-width: 1024px) {
  .l__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
}
.serif-font {
  font-family: Playfair Display, serif;
}

body#mainPage {
  overflow: hidden;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .mobile-only {
    display: block;
  }
}
.desktop-only {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}
.l__preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  will-change: transform, border-radius;
}

.preloader__roll {
  border: solid 1px #fafafa;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-break: none;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  overflow: hidden;
  white-space: nowrap;
  width: 60rem;
}
.preloader__roll p {
  color: #fafafa;
  font-size: 2rem;
  font-family: Montreal-book, sans-serif;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  will-change: transform;
}
.preloader__roll p:nth-child(1) {
  display: inline-block;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
}
.preloader__roll p:nth-child(2) {
  display: inline-block;
  -webkit-animation: marquee2 15s linear infinite;
  animation: marquee2 15s linear infinite;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  background-color: #0b0b0b;
}

.preloader__subline {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: #bfff07;
  z-index: 6;
  will-change: transform;
}

.preloader__blackline {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: #bfff07;
  z-index: 6;
  will-change: transform;
  z-index: 7;
  background: #0b0b0b;
}

.menu-item {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-item-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
}

.menu-item > div:nth-child(1) span {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: calc(.05s * var(--index));
          transition-delay: calc(.05s * var(--index));
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  display: inline-block;
}
.menu-item > div:nth-child(2) span {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: calc(.05s * var(--index));
          transition-delay: calc(.05s * var(--index));
  -webkit-transform-origin: top;
          transform-origin: top;
  display: inline-block;
  -webkit-transform: translateY(100%) rotateX(-90deg);
          transform: translateY(100%) rotateX(-90deg);
}
.menu-item:hover > div:nth-child(1) span {
  -webkit-transform: translateY(-100%) rotateX(-90deg);
          transform: translateY(-100%) rotateX(-90deg);
}
.menu-item:hover > div:nth-child(2) span {
  -webkit-transform: translate(0) rotateX(0);
          transform: translate(0) rotateX(0);
}
.menu-item span {
  font-size: 1.6rem;
}

.hover-clone {
  font-family: Playfair Display, serif !important;
  white-space: nowrap;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  pointer-events: none;
}

.l__navbar {
  height: 7rem;
  border-bottom: 1px solid #fafafa;
  max-width: 100vw;
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  z-index: 2;
  background-color: #0b0b0b;
  width: -webkit-fill-available;
}
.l__navbar a {
  text-decoration: none;
}
.l__navbar .navbar__logo {
  pointer-events: none;
  color: #fafafa;
  font-size: 2rem;
  font-family: Montreal-medium, sans-serif;
  text-decoration: none;
  letter-spacing: 0.3rem;
}
.l__navbar .navbar__logo.clickable {
  pointer-events: all;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .l__navbar .clickable {
    pointer-events: all;
    cursor: pointer;
    text-decoration: none;
  }
  .l__navbar .clickable h2 {
    padding-left: 8rem;
  }
  .l__navbar h2 {
    color: #fafafa;
    font-size: 2rem;
    font-family: Montreal-medium, sans-serif;
    text-decoration: none;
    letter-spacing: 0.3rem;
  }
}
.l__navbar .navbar__availability--link {
  height: 4rem;
  width: 35rem;
}
.l__navbar .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.l__navbar .navbar__links a {
  color: #fafafa;
  text-decoration: none;
  font-family: Montreal-book, sans-serif;
  font-size: 1.6rem;
  margin-left: 3.5rem;
}

@media only screen and (max-width: 1024px) {
  .l__navbar {
    max-width: unset;
    padding: 0 2rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .l__navbar .navbar__logo h2 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1024px) {
  .l__navbar .navbar__availability--link {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .l__navbar .navbar__links {
    display: none;
  }
}
.navbar__availability {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: solid 1px #fafafa;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-break: none;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  overflow: hidden;
  white-space: nowrap;
  width: 30rem;
}
.navbar__availability p {
  color: #fafafa;
  font-size: 1.6rem;
  letter-spacing: 0.3em;
  font-family: Montreal-book, sans-serif;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  will-change: transform;
}
.navbar__availability .availability__dot {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #bfff07;
  border-radius: 50%;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}
.navbar__availability:hover {
  border: solid 1px #bfff07;
}
.navbar__availability .dot {
  width: 8px;
  height: 8px;
  background-color: #bfff07;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  top: -1px;
  left: 1.5px;
}
.navbar__availability p:nth-child(1) {
  display: inline-block;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
}
.navbar__availability p:nth-child(2) {
  display: inline-block;
  -webkit-animation: marquee2 15s linear infinite;
  animation: marquee2 15s linear infinite;
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
  background-color: #0b0b0b;
}

@media only screen and (max-width: 1024px) {
  .navbar__availability {
    display: none;
  }
}
.hamburger__menu {
  height: 2rem;
  cursor: pointer;
}

.menu__mobile {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 7;
}
.menu__mobile .menu__mobile--close {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 1.6rem;
  color: #fafafa;
  font-family: Montreal-book, sans-serif;
}
.menu__mobile .menu__mobile--content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__mobile .menu__mobile--content a {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 4rem;
  margin-top: 2.5rem;
  cursor: pointer;
}
.menu__mobile .menu__mobile--content span {
  color: #fafafa;
  font-size: 4rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.l__separator {
  width: 8rem;
  height: calc(100vh - 7rem);
  border-right: solid 1px #fafafa;
  border-left: solid 1px #fafafa;
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  overflow: hidden;
  background-color: #0b0b0b;
}

@media only screen and (max-width: 1024px) {
  .l__separator {
    width: 100%;
    height: 6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: unset;
    border-left: unset;
    border-top: solid 1px #fafafa;
    border-bottom: solid 1px #fafafa;
  }
}
.separator__bottom, .separator__top {
  will-change: transform;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
}

.separator__bottom p, .separator__top p {
  font-family: Montreal-medium, sans-serif;
  color: #fafafa;
  font-size: 3rem;
  white-space: nowrap;
}

.separator__bottom p span {
  margin: 1rem 0;
}

.separator__top {
  margin-right: 2px;
}
.separator__top p {
  color: #bfff07;
}
.separator__top p span {
  margin: 1rem 0;
}
.separator__top p span:nth-child(odd) {
  color: #fafafa;
}

.separator__bottom {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.separator__bottom p {
  color: #fafafa;
}
.separator__bottom p span:nth-child(odd) {
  color: #bfff07;
}

.about__separator {
  width: 6.7rem;
  height: calc(100vh - 7rem);
  border-right: solid 1px #fafafa;
  border-left: solid 1px #fafafa;
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  overflow: hidden;
  background-color: #0b0b0b;
}
.about__separator p {
  will-change: transform;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg) translateY(-100%);
          transform: rotate(180deg) translateY(-100%);
  font-family: Montreal-medium, sans-serif;
  color: #fafafa;
  font-size: 3rem;
  white-space: nowrap;
}
.about__separator p span {
  color: #bfff07;
}

@media only screen and (max-width: 1024px) {
  .about__separator p {
    -ms-writing-mode: unset;
    -webkit-writing-mode: unset;
            writing-mode: unset;
    text-orientation: unset;
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
}
.mobile__separator {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .mobile__separator {
    height: 6rem;
    width: auto;
    border-top: solid 1px #fafafa;
    border-bottom: solid 1px #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__separator .mobile__separator--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    will-change: transform;
  }
  .mobile__separator .mobile__separator--container p {
    color: #fafafa;
    font-family: Montreal-book, sans-serif;
    font-size: 3rem;
    white-space: nowrap;
  }
  .mobile__separator .mobile__separator--container p span {
    font-family: Playfair Display, serif;
  }
  .mobile__separator .mobile__separator--container p:nth-child(odd) {
    color: #bfff07;
  }
}
.mobile__separator--container:nth-child(1) {
  -webkit-animation: marquee-mobile 15s linear infinite;
  animation: marquee-mobile 15s linear infinite;
}
.mobile__separator--container:nth-child(2) {
  -webkit-animation: marquee2-mobile 15s linear infinite;
  animation: marquee2-mobile 15s linear infinite;
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.landing__separator--mobile {
  position: relative;
  top: 3rem;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
@-webkit-keyframes marquee2 {
  0% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
}
@keyframes marquee2 {
  0% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
}
@-webkit-keyframes marquee-mobile {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  to {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
@keyframes marquee-mobile {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  to {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
@-webkit-keyframes marquee2-mobile {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-200%);
            transform: translate(-200%);
  }
}
@keyframes marquee2-mobile {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-200%);
            transform: translate(-200%);
  }
}
.l__landing {
  position: relative;
  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .l__landing {
    padding: 0 1.5rem;
    width: 100vw;
    height: 100vh;
  }
}
.landing__centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 1;
}
.landing__centered-content .landing__centered-content__title {
  font-size: 13.5rem;
  color: #fafafa;
  font-family: Montreal-medium, sans-serif;
  line-height: 0.9;
}
@media only screen and (max-width: 1024px) {
  .landing__centered-content {
    position: relative;
    top: 12rem;
    left: 0;
    -webkit-transform: none;
            transform: none;
    text-align: left;
  }
}
@media only screen and (max-width: 1024px) {
  .landing__centered-content .landing__centered-content__title {
    font-size: 5rem;
    line-height: 1.1;
  }
}
@media only screen and (max-width: 1024px) {
  .landing__centered-content .landing__centered-content__subtitle {
    display: none;
  }
}
.landing__mobile-image {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .landing__mobile-image {
    display: block;
    height: 50%;
    position: absolute;
    top: 35%;
    right: 0;
  }
}
.landing__bottom-content {
  height: 7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing__bottom-content .landing__bottom-content__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.landing__bottom-content .landing__bottom-content__networks a {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 3rem;
}
.landing__bottom-content .landing__bottom-content__scroll {
  position: absolute;
  right: 3rem;
}
.landing__bottom-content .landing__bottom-content__scroll p {
  font-family: Montreal-book, sans-serif;
  font-size: 1.6rem;
  color: #fafafa;
  margin-right: 10px;
}
.landing__bottom-content .landing__bottom-content__scroll p span {
  border: solid 1px #fafafa;
  border-radius: 15px;
  padding: 3px 12px;
  margin-left: 10px;
}
.landing__bottom-content .landing__bottom-content__scroll p span img {
  position: relative;
  left: 0;
  height: 1.1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-animation-name: arrow;
  animation-name: arrow;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@media only screen and (max-width: 1024px) {
  .landing__bottom-content {
    height: 4rem;
    bottom: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .landing__bottom-content .landing__bottom-content__networks {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .landing__bottom-content .landing__bottom-content__scroll p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .landing__bottom-content .landing__bottom-content__scroll p span {
    padding: 14px 1px;
    position: relative;
    top: -1.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .landing__bottom-content .landing__bottom-content__scroll p span img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-name: arrow-mobile;
    animation-name: arrow-mobile;
  }
}
@-webkit-keyframes arrow {
  0% {
    left: 0;
  }
  to {
    left: 0.8rem;
  }
}
@keyframes arrow {
  0% {
    left: 0;
  }
  to {
    left: 0.8rem;
  }
}
@-webkit-keyframes arrow-mobile {
  0% {
    top: 0;
  }
  to {
    top: 0.5rem;
  }
}
@keyframes arrow-mobile {
  0% {
    top: 0;
  }
  to {
    top: 0.5rem;
  }
}
.l__projects {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #0b0b0b;
  overflow: hidden;
}

.projects__introduction {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}
.projects__introduction .projects__introduction__title {
  color: #fafafa;
  font-size: 11rem;
}
.projects__introduction .projects__introduction__title.serif-font {
  font-family: Playfair Display, serif;
}
.projects__introduction .projects__introduction__title.sans-serif-font {
  font-family: Montreal-medium, sans-serif;
}

@media only screen and (max-width: 1024px) {
  .projects__introduction {
    position: relative;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 9rem 0 5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .projects__introduction .projects__introduction__title {
    font-size: 5.3rem;
    margin: auto;
  }
}
.projects__container {
  height: calc(200vh + 250rem);
  width: 100%;
  background-color: transparent;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .projects__container {
    height: auto;
    padding: 0 1.5rem;
    width: auto;
  }
}
.project__item {
  position: absolute;
  cursor: pointer;
}
.project__item a {
  text-decoration: none;
}
.project__item .project__item__title {
  font-size: 1.7rem;
  color: #fafafa;
  padding-bottom: 1.5rem;
  font-family: Montreal-medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}
.project__item img, .project__item picture, .project__item iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  cursor: pointer;
}
.project__item .project__item__hover {
  font-size: 1.6rem;
  color: #fafafa;
  font-family: Montreal-book, sans-serif;
  margin-top: 1.5rem;
  text-align: right;
  max-width: 30rem;
  margin-left: auto;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project__item .project__item__hover img {
  width: 2.5rem;
  opacity: 1;
  margin-left: 1.5rem;
}
.project__item:hover .project__item__hover {
  opacity: 1;
}
.project__item:nth-child(1) {
  left: 19.5rem;
  top: calc(200vh + 30rem);
  width: 22.3rem;
}
.project__item:nth-child(2) {
  left: 135rem;
  top: calc(200vh + 15rem);
  width: 30rem;
}
.project__item:nth-child(3) {
  left: 75rem;
  top: calc(200vh + 60rem);
  width: 37.5rem;
}
.project__item:nth-child(4) {
  left: 19.5rem;
  top: calc(200vh + 130rem);
  width: 30rem;
}
.project__item:nth-child(5) {
  left: 135rem;
  top: calc(200vh + 115rem);
  width: 23.1rem;
}
.project__item:nth-child(6) {
  left: 81.1rem;
  top: calc(200vh + 180rem);
  width: 30rem;
}
.project__item:nth-child(7) {
  left: 19.5rem;
  top: calc(200vh + 250rem);
  height: 20rem;
}
.project__item:nth-child(8) {
  left: 75rem;
  top: calc(200vh + 250rem);
  height: 21rem;
}
.project__item:nth-child(9) {
  left: 135rem;
  top: calc(200vh + 250rem);
  height: 20rem;
}

@media only screen and (max-width: 1024px) {
  .project__item {
    position: relative;
    top: unset !important;
    left: unset !important;
    margin: auto auto 7rem;
    width: 100% !important;
    max-height: 90vh;
  }
}
@media only screen and (max-width: 1024px) {
  .project__item .project__item__title {
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.2;
    padding-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .spacebftaect {
    margin-top: 20rem;
  }
}
@media only screen and (max-width: 1024px) {
  .spacebfyeetalk, .spacebfsugar {
    margin-top: 15rem;
  }
}
@media only screen and (max-width: 1024px) {
  .project__item img, .project__item picture {
    opacity: 1;
  }
}
@media only screen and (max-width: 1024px) {
  .project__item .project__item__hover {
    opacity: 1;
  }
}
.l__about {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 1024px) {
  .l__about {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
  }
}
.about__introduction {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .about__introduction {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5rem 1.5rem 0;
  }
}
.about__networks {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  padding-left: 11rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__networks a {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 3rem;
}

@media only screen and (max-width: 1024px) {
  .about__networks {
    display: none;
  }
}
.about__introduction__content {
  padding: 0 25rem;
  z-index: 2;
  width: 85vw;
}

@media only screen and (max-width: 1024px) {
  .about__introduction__content {
    padding: 0;
    width: 100%;
  }
}
.about__introduction__title {
  font-size: 6rem;
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  will-change: transform;
  line-height: 9rem;
}

.line {
  width: 90rem;
  padding-right: 0rem;
  margin: 0rem;
}

svg {
  width: 240px;
  margin: 10rem;
}

.cssmove1 {
  width: 50rem;
}

#pic1 {
  stroke: white;
  stroke-width: 3px;
}
#pic1 circle {
  fill: none;
}
#pic2 {
  stroke: white;
  stroke-width: 3px;
}
#pic2 circle {
  fill: black;
}
#pic2 rect {
  fill: none;
}

#pic3 {
  stroke: white;
  stroke-width: 2px;
}
#pic3 polyline {
  fill: none;
}

#pic4 {
  stroke: white;
  fill: white;
}

span.name {
  font-size: 6rem;
  font-family: Playfair Display, serif;
  color: #fafafa;
  will-change: transform;
  line-height: 9rem;
}

span.space {
  margin-right: 20rem;
}
span.space .title__crossed {
  text-decoration: line-through;
  -webkit-text-decoration-color: #bfff07;
  text-decoration-color: #bfff07;
}

@media only screen and (max-width: 1024px) {
  .about__introduction__title {
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.1rem;
  }
}
@media only screen and (max-width: 1024px) {
  .about__introduction__title:nth-child(2) {
    text-align: right;
  }
}
@media only screen and (max-width: 1024px) {
  .about__introduction__title:nth-child(4) {
    text-align: center;
  }
}
.about__introduction__picture {
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  will-change: transform;
  width: 75.7rem;
}
.about__introduction__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  .about__introduction__picture {
    display: none;
  }
}
.about__introduction__line {
  position: relative;
  height: 100%;
  width: 2rem;
  background-color: #bfff07;
}

@media only screen and (max-width: 1024px) {
  .about__introduction__line {
    display: none;
  }
}
.about__me__content {
  position: relative;
  width: 132.2rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7rem;
}

@media only screen and (max-width: 1024px) {
  .about__me__content {
    display: block;
    width: auto;
    height: unset;
    padding: 3rem 1.5rem;
  }
}
.about__me__content--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 9.5rem;
  padding-top: 10rem;
}
.about__me__content--left .cssmove2 {
  padding-left: 12rem;
  padding-top: 10rem;
}

@media only screen and (max-width: 1024px) {
  .about__me__content--left {
    display: block;
    width: 100%;
    height: auto;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
.about__me__content--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__me__content--right__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: calc(100% - 20rem);
  position: relative;
  top: -15rem;
  width: 37.5rem;
  padding-left: 15rem;
}
.about__me__content--right__container p {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .about__me__content--right__container {
    top: unset;
    padding-left: 0;
    width: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .about__me__content--right__container p {
    margin-bottom: 0;
  }
}
.about__me__content--text {
  color: #fafafa;
  font-size: 2.1rem;
  font-family: Montreal-book, sans-serif;
  line-height: 1.4;
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  .about__me__content--text {
    margin-top: 2.5rem;
    font-size: 1.8rem;
  }
}
.about__me__character {
  width: 8.5rem;
  height: auto;
  position: absolute;
  left: 12.2rem;
}

.about__mobile-separator {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .about__mobile-separator {
    display: block;
  }
}
@media only screen and (max-width: 1024px) {
  .about__mobile-separator h1 {
    font-size: 5.3rem;
    color: #fafafa;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: Montreal-book, sans-serif;
    text-align: center;
  }
  .about__mobile-separator h1 span {
    font-family: Playfair Display, serif;
  }
}
.about__benefits {
  width: 100vw;
  position: relative;
  border-right: solid 1px #fafafa;
  border-left: solid 1px #fafafa;
}

@media only screen and (max-width: 1024px) {
  .about__benefits {
    border: none;
    width: auto;
    padding-top: 8rem;
  }
}
.about__benefits__top-text {
  width: 155rem;
  position: absolute;
  top: 45%;
  left: 25rem;
  letter-spacing: 0.4rem;
  color: #fafafa;
  font-size: 5rem;
  font-family: Montreal-book, sans-serif;
}

.cssmove3, .cssmove4 {
  position: absolute;
  right: 40%;
  top: 10rem;
  margin-top: 5rem;
}

.cssmove4 {
  top: 50rem;
}

@media only screen and (max-width: 1024px) {
  .about__benefits__top-text {
    position: relative;
    top: unset;
    left: unset;
    width: unset;
    padding: 0 1.5rem 6rem;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .cssmove3 {
    top: 3rem;
    left: 2rem;
  }
}
.about__benefits__container {
  width: 106.9rem;
  position: absolute;
  top: 60%;
  left: 13.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15.5rem;
}

@media only screen and (max-width: 1024px) {
  .about__benefits__container {
    position: relative;
    height: unset;
    top: unset;
    left: unset;
    width: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .about__benefits__container {
    position: relative;
    top: unset;
    left: unset;
    width: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__benefit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30rem;
  margin-right: 10rem;
}
.about__benefit__item .about__benefit__item--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2.5rem;
}
.about__benefit__item .about__benefit__item--title .about__benefit__item--number {
  color: #bfff07;
  font-family: Montreal-book, sans-serif;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.about__benefit__item .about__benefit__item--title .about__benefit__item--title-text {
  color: #fafafa;
  font-size: 2.8rem;
  font-family: Montreal-book, sans-serif;
}
.about__benefit__item .about__benefit__item--text {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 1.7rem;
  line-height: 1.4;
}

@media only screen and (max-width: 1024px) {
  .about__benefit__item {
    width: auto;
    height: 20rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: solid 1px #fafafa;
    margin: 0;
    padding: 2.5rem 1.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .about__benefit__item .about__benefit__item--text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1024px) {
  .about__benefit__item:last-of-type {
    border-bottom: solid 1px #fafafa;
  }
}
.about__benefits__bottom-band {
  width: 100vw;
  height: 10rem;
  border-top: solid 1px #fafafa;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.about__benefits__bottom-band h2 {
  font-family: Montreal-medium, sans-serif;
  color: #fafafa;
  font-size: 6.6rem;
  white-space: nowrap;
  will-change: transform;
}
.about__benefits__bottom-band span {
  font-family: Playfair Display, serif;
}

@media only screen and (max-width: 1024px) {
  .about__benefits__bottom-band {
    display: none;
  }
}
.about__character {
  position: absolute;
  width: 8.5rem;
  height: 14.1rem;
  left: 170.8rem;
  top: 15.6rem;
  bottom: 5rem;
}
.about__character img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  .about__character {
    display: none;
  }
}
.l__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100vw;
  max-width: 100vw;
}

@media only screen and (max-width: 1024px) {
  .l__contact {
    padding-top: 1.5rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.contact__container-top {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10rem;
}
.contact__container-top .contact__container-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__container-top .backToStart {
  height: 8.6rem;
  margin-right: 4rem;
  margin-top: 2.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contact__container-top .backToStart:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.contact__container-top .contact__title {
  font-size: 33rem;
  font-family: Montreal-medium, sans-serif;
  text-align: left;
  line-height: 0.7;
  color: #fafafa;
  display: inline-block;
  will-change: transform;
  width: 100vw;
  margin-left: 2.5rem;
}
.contact__container-top .contact__title span {
  display: inline-block;
  -webkit-transform: translateY(-145%);
          transform: translateY(-145%);
  opacity: 0;
}
.contact__container-top .contact__form {
  line-height: 9rem;
  width: 60rem;
  padding: 0 4rem;
  margin-top: 2.5rem;
}
.contact__container-top .contact__form .contact__form--title {
  font-size: 6.7rem;
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  margin-bottom: 4.5rem;
}
.contact__container-top .contact__form .contact__form--button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 1px #bfff07;
  padding: 13px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0b0b0b;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  font-family: Playfair Display, serif;
  text-decoration: none;
  color: #bfff07;
  font-size: 3.5rem;
  border-radius: 50px;
}
.contact__container-top .contact__form .contact__form--button:hover {
  background-color: #bfff07;
}
.contact__container-top .contact__form .contact__form--button:hover * {
  color: #0b0b0b;
}
.contact__container-top .contact__form .menu-item span {
  font-family: Playfair Display, serif;
  text-decoration: none;
  color: #bfff07;
  font-size: 3.5rem;
  border-radius: 50px;
}
.contact__container-top .contact__form .contact__form--button *, .contact__container-top .contact__form .menu-item span * {
  text-decoration: none;
}
.contact__container-top .contact__form .hover-clone {
  text-align: center;
  padding: 13px 50px;
}

@media only screen and (max-width: 1024px) {
  .contact__container-top {
    padding-top: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-top .contact__container-top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-top .backToStart {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-top .contact__title {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-top .contact__form {
    width: auto;
    padding: 0;
    text-align: center;
    margin-top: 6.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-top .contact__form .contact__form--title {
    text-align: center;
    font-size: 4rem;
    padding: 0 2rem;
    line-height: 1.1;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-top .contact__form .contact__form--button, .contact__container-top .contact__form .menu-item span {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .cssmove4 {
    display: none;
  }
}
.l__contact .contact__form .menu-item span:not(:first-of-type) {
  text-transform: lowercase;
}

.contact-character {
  height: 8.5rem;
  width: auto;
  margin-top: 4rem;
  padding: 2rem 0;
}

.contact__container-bottom {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 4rem 5rem;
}
.contact__container-bottom .contact__thanks {
  width: 39rem;
  margin-bottom: 5rem;
}
.contact__container-bottom .contact__thanks h3 {
  font-family: Montreal-medium, sans-serif;
  color: #fafafa;
  font-size: 2.1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.contact__container-bottom .contact__thanks p {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1.2;
}
.contact__container-bottom .contact__networks-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__container-bottom .contact__networks-design .contact__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__container-bottom .contact__networks-design .contact__networks a {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 3rem;
  border-bottom: solid 0px;
}
.contact__container-bottom .contact__networks-design .contact__design p {
  color: #fafafa;
  font-size: 1.6rem;
  font-family: Montreal-book, sans-serif;
}
.contact__container-bottom .contact__networks-design .contact__design p a {
  color: #fafafa;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-bottom: solid 1px #0b0b0b;
}

@media only screen and (max-width: 1024px) {
  .contact__container-bottom {
    padding: 0;
    text-align: center;
    max-width: 100vw;
    margin-top: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-bottom .contact__thanks {
    width: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-bottom .contact__thanks h3 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-bottom .contact__thanks p {
    font-size: 1.3rem;
    max-width: 70%;
    margin: auto;
    line-height: 1.6;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-bottom .contact__networks-design .contact__networks {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(100% - 4rem);
    padding-bottom: 1.5rem;
    margin: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-bottom .contact__networks-design .contact__networks a span {
    margin: 0;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-bottom .contact__networks-design .contact__networks a {
    margin: 0;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .contact__container-bottom .contact__networks-design .contact__design {
    display: none;
  }
}
.contact__design:hover a {
  border-bottom: solid 0.5px #fafafa !important;
}

.contact__footer {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .contact__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: solid 1px #fafafa;
    padding-left: 2rem;
  }
  .contact__footer p {
    color: #fafafa;
    font-size: 1.3rem;
    font-family: Montreal-book, sans-serif;
  }
  .contact__footer p a {
    text-decoration: none;
    color: #fafafa;
  }
  .contact__footer .backToStart {
    width: 8rem;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fafafa;
    margin-left: auto;
  }
  .contact__footer .backToStart img {
    height: 1.5rem;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.l__project-detail {
  background-color: #0b0b0b;
  padding-left: 2rem;
}
.l__project-detail .l__content {
  display: block;
}

.project__detail--introduction {
  height: 53.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 0 4rem;
}
.project__detail--introduction h3 {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 2rem;
  letter-spacing: 0.7rem;
}
.project__detail--introduction h1 {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 5rem;
  width: 99rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

@media only screen and (max-width: 1024px) {
  .project__detail--introduction {
    height: calc(70vh);
    width: auto;
    margin-top: 10rem;
    padding-right: 7rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--introduction .project__detail--introduction--title {
    margin-right: auto;
    font-size: 1px;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--introduction h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    width: auto;
  }

  .project__detail--introduction h3 {
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    width: auto;
  }
}
.project__detail--introduction--title {
  margin: 1rem 0rem;
}

.project__detail--introduction--details {
  position: absolute;
  top: 45rem;
  width: 100rem;
}
.project__detail--introduction--details p {
  font-family: Montreal-book, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  color: #fafafa;
  text-align: center;
}
.project__detail--introduction--details .project__detail-date-company {
  text-align: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.project__detail--introduction--details .project__detail-date-company p {
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  .project__detail--introduction--details {
    position: initial;
    display: block;
    width: auto;
    text-align: left;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--introduction--details p {
    width: auto;
    font-size: 20px;
    line-height: 40px;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--introduction--details .project__detail-date-company {
    text-align: left;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    margin-top: 4rem;
    position: absolute;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--introduction--details .project__detail-date-company p {
    text-align: left;
    margin-top: 0;
  }
}
.project__detail--container {
  position: relative;
  top: 0px;
  text-align: center;
  padding: 0 17rem;
}
.project__detail--container picture {
  display: flow-root;
}

@media only screen and (max-width: 1024px) {
  .project__detail--container {
    top: 0;
    padding: 0 2rem;
  }
}
.project__detail--item_picture {
  width: 155.2rem;
  margin-top: 0rem;
}
.project__detail--item_picture p {
  font-family: Montreal-book, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  color: #fafafa;
  text-align: center;
  width: 100rem;
  padding-left: 28rem;
}

@media only screen and (max-width: 1024px) {
  .project__detail--item_picture {
    width: 100% !important;
    float: none;
    margin-bottom: 5rem;
  }
}
.ip {
  width: 100rem;
  margin: 5rem;
}
.ip.igm {
  width: 70rem;
}
.ip.artdeco {
  padding-top: 20rem;
}
.ip.tapani {
  padding-top: 10rem;
  width: 70rem;
}

@media only screen and (max-width: 1024px) {
  .ip {
    width: 25rem;
    padding-top: 3rem;
    margin-top: 0rem;
    margin-left: 2rem;
  }
  .ip.igm {
    width: 25rem;
  }
  .ip.tapani {
    padding-top: 10rem;
    width: 20rem;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--item_picture p {
    font-size: 20px;
    width: 25rem;
    padding-left: 3rem;
    line-height: 1.8rem;
  }
}
.project__detail--footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
  text-align: center;
  mix-blend-mode: difference;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 4rem;
  margin-top: -33.5rem;
}
.project__detail--footer .next__project--hover {
  height: 60rem;
  top: 10rem;
}

@media only screen and (max-width: 1024px) {
  .project__detail--footer {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: auto;
    max-width: unset;
    padding: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--footer .next__project--hover {
    top: unset;
    padding-top: 10rem;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--footer .next__project--subtitle {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--footer .next__project--title {
    font-family: Montreal-medium, sans-serif;
    font-size: 3.5rem;
    width: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--footer .next__project--img {
    height: 30rem;
  }
}
.next__project--hover:hover .next__project--img {
  top: -13rem;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  left: 0%;
}

@media only screen and (max-width: 1024px) {
  .next__project--hover:hover .next__project--img {
    top: -4rem;
  }
}
.project__detail--return {
  max-width: 14.5rem;
  text-align: left;
  padding-bottom: 4rem;
  position: absolute;
  left: 4rem;
  cursor: pointer;
  z-index: 99;
}
.project__detail--return a {
  text-decoration: none;
}
.project__detail--return p {
  font-family: Montreal-book, sans-serif;
  color: #fafafa;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
}
.project__detail--return img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 3rem;
  margin-top: 1rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  border: solid 1px #fafafa;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.project__detail--return:hover img {
  -webkit-transform: rotate(-180deg) translate(1rem);
          transform: rotate(-180deg) translate(1rem);
}

@media only screen and (max-width: 1024px) {
  .project__detail--return {
    top: 0;
    left: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .project__detail--return p {
    font-size: 1.6rem;
  }
}
.project__detail--contact {
  text-align: right;
  padding-bottom: 4rem;
  position: absolute;
  right: 4rem;
  width: 20rem;
}
.project__detail--contact p {
  color: #fafafa;
  font-size: 2rem;
  font-family: Montreal-book, sans-serif;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.project__detail--contact a {
  color: #fafafa;
  font-size: 2rem;
  font-family: Montreal-book, sans-serif;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-decoration: none;
  border: solid 1px #fafafa;
  padding: 1rem 1.8rem;
  border-radius: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.project__detail--contact a:hover {
  background-color: #bfff07;
  border: solid 1px #0b0b0b;
  color: #0b0b0b;
}

@media only screen and (max-width: 1024px) {
  .project__detail--contact {
    display: none;
  }
}